body{
    margin: 0;
    background-color: #333;
    font-family: sans-serif;
}
img{
    max-width: 100%;
}
.toggle-menu{
    position: absolute; /*pierde su sitio*/
    width: 40px;
    top: .5rem;
    right: 1.5em;
    cursor: pointer;
    filter: invert(1); /*lo hace blanco*/
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .toggle-menu{
        display: none;
    }
}

.main-menu{
    list-style: none;
        
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    align-items: center;
    transform: translateY(-100%);

    transition: transform .3s;
}

.main-menu--show{
    transform: translateY(0); /*se que debe en la pos que esta ahora(mostrandose)*/
}

.main-menu__item{ /*los li*/
    padding: 1em;
}

.toggle-menu__checkbox{
    display: none;
}

.toggle-menu__checkbox:checked + .main-menu{
    /* al hermano main menu */
    transform: translateY(0);
}

.main-menu__link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .main-menu{
        flex-direction: row;
        transform: translateY(0);
        /* para q el menu no se pierda al pasar a ser de escritorio */
    }
}